@* @model IQueryable<PriceListEditor.Application.Models.Product> *@
@using PriceListEditor.Application.ViewModels;
@model ProductListViewModel
<h4 class="m-1 pb-2"> Cписок продуктов </h4>

@foreach (Product p in Model.Products ?? Enumerable.Empty<Product>())
{
    <partial name="ProductSummary" model="p"/>
}
@* @if(Model.PageViewModel!.HasPreviousPage)
{
    <a asp-action="ProductList" asp-controller="Product" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="btn btn-outline-dark"> Следующая <i class="glyphicon glyphicon-chevron-right"></i></a>
}
@if (Model.PageViewModel!.HasNextPage)
{
    <a asp-action="ProductList" asp-controller="Product" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="btn btn-outline-dark"> Предыдущая <i class="glyphicon glyphicon-chevron-left"></i></a>
} *@
<page-link page-view-model="Model.PageViewModel" page-action="ProductList" page-controller="ProductController"></page-link>
