<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактор прайс-листов</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Редактор прайс-листов</span>
        <a href="@Url.Action("Index","Home")" class="btn btn-primary">Главная</a>
        <a href="@Url.Action("ProductList","Product")" class="btn btn-primary">Товары</a>
    </div>
    <div class="row m-1 p-1">
        @RenderBody()
        <div class="col-12">
        </div>
    </div>
</body>
</html>
