@model IEnumerable<SelectListItem>

<form method="post" id="formPageSizeSelector" onchange="SelectedItemChanged()" asp-controller="Product" asp-action="ProductList">
    <div class="d-grip gap-2">
        <b>Выберите размер страницы</b>
        <select id="pageSizeSelector">
            @foreach (SelectListItem listItem in Model ?? Enumerable.Empty<SelectListItem>())
            {
                <option value="@listItem.Value">@listItem.Value</option>
            }
        </select>
    </div>
</form>

<script>
    function SelectedItemChanged() 
    {
        var oldUrl = new URL(window.location.href);
        var newUrl = new URL(oldUrl.protocol + oldUrl.host);
        if (oldUrl.pathname.includes("Size"))
        {
            var oldSize = oldUrl.pathname.slice(oldUrl.pathname.indexOf("Size")+4, oldUrl.pathname.length);             
            newUrl.pathname = oldUrl.pathname.replace("Size" + oldSize, "Size" + document.querySelector('#pageSizeSelector').value);
        }
        else
        {
            newUrl.pathname = "/Page1/Size1"
        }
        window.location.href = newUrl;
    }
</script>