@model BaseListViewModel

<form method="post" id=@("form"+@Model.PageViewModel.Pseudonym+"PageSizeSelector") onchange="SelectedItemChanged(this)" asp-controller="Product" asp-action="ProductList">
    <div class="d-grip gap-2">
        <b>Выберите размер страницы</b>
        <select id="pageSizeSelector">
            @foreach (int pagenumber in Model.PageSizes)
            {
                @if (pagenumber == Model.PageViewModel.PageSize)
                {
                    <option id="ps" + pagenumber value="@pagenumber" selected>@pagenumber</option>
                }
                else
                {
                    <option id="ps" + pagenumber value="@pagenumber">@pagenumber</option>
                }
            }
        </select>
    </div>
</form>

<script>
    function SelectedItemChanged(object) {
        var oldUrl = new URL(window.location.href);
        var newUrl = new URL(oldUrl.protocol + "//" + oldUrl.host);
        if (oldUrl.pathname.includes("Size")) {
            var oldSize = oldUrl.pathname.slice(oldUrl.pathname.indexOf("Size") + 4, oldUrl.pathname.length);
            newUrl.pathname = oldUrl.pathname.replace("Size" + oldSize, "Size" + document.querySelector('#pageSizeSelector').value);
        }
        else {
            var pseudonym = object.id.replace("form", "");
            pseudonym = pseudonym.replace("PageSizeSelector", "");
            newUrl += pseudonym+"/Page1/Size" + document.querySelector('#pageSizeSelector').value;
        }
        window.location.href = newUrl;
    }
</script>